<% layout('layouts/complaintBP')%>



<div class="container p-5 ml-1 rounded-3">
  <% if (sortedcomplaints.length === 0) { %>
    <p class="text-center">No complaints at the moment.</p>
  <% } else { %>
    <div class="list-group">
      <% for (let complaint of sortedcomplaints) { %>
        <a href="/complaint/<%= complaint._id %>" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
          <div class="col-12 col-md-2 ms-2 text-start">
            <div class="fw-bold"><%= complaint.title %> </div>
          </div>

          <div class="col-12 col-md-6 text-start d-none d-md-block">
            <% if (complaint.description.length > 50) { %>
              <%= complaint.description.substring(0, 50) + '...' %>
            <% } else { %>
              <%= complaint.description %>
            <% } %>
          </div>

          <div class="col-12 col-md-4 text-end">
            <span class="badge bg-secondary rounded-pill">Open</span>
          </div>
        </a>
      <% } %>
    </div>
  <% } %>
</div>

    
