<% layout('layouts/manageBP')%>


  <div class="h-100 col-6 offset-3 box-color p-5 ml-1 rounded-3">
    <h1 class="text-center">Login</h1>
    <div class="col-6 offset-3">
      <form action="/managLogin" method="POST" novalidate class="validated-form">
        <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input class= "form-control"type="text" name="username" id="username" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class= "form-control"type="password" name="password" id="password" required>
        </div>
        <button class="btn btn-success">Login</button>
    </form>
    </div>
  </div>

<script>
  (() => {
'use strict'

// Fetch all the forms we want to apply custom Bootstrap validation styles to
const forms = document.querySelectorAll('.validated-form')

// Loop over them and prevent submission
Array.from(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function(event) {
          if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
          }

        form.classList.add('was-validated')
    }, false)
 })
})()
</script>